[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "*"
quart = "*"
unpaddedbase64 = "*"
toml = "*"
quart-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
