[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aioredis = "*"
blaseball-mike = "*"
dateparser = "*"
unpaddedbase64 = "*"

[dev-packages]
redis = "*"

[requires]
python_version = "3.9"
